body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
}

.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: none;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

#product-details img {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
